.ladder-game-container {
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

.ladder-game-header h2 {
  margin-bottom: 25px;
  color: #333;
}

.ladder-game-input {
  width: 270px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-person-button {
  padding: 10px 15px;
  margin-left: 20px;
  background-color: #64b8fd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.add-person-button:hover {
  background-color: #458cd4;
}

.people-list {
  margin-bottom: 20px;
}

.person-item {
  background-color: #d3e0ea;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.ladder-game-button {
  background-color: #9b96e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.ladder-game-button:hover {
  background-color: rgb(158, 135, 214);
}

.ladder-game-list {
  list-style: none;
  padding: 0;
}

.ladder-game-list li {
  background-color: #d3e0ea;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.person-number {
  font-weight: bold;
  color: #256cab;
  margin-right: 10px;
}

.back-button {
  background-color: #ffc0f0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #c0b0bc;
}
